<header>
    <div class="main-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left-side-header">
                        <ul class="list-item-header">
                            <li>
                                <a href="#">
                                    About
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Help
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box-search-header">
                        <input class="inp-search" type="text" placeholder="Search on twitter" />
                        <i class="fa fa-search icon-search"></i>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="user-info">
                        <span>Hey!</span>
                        <span>John</span>
                        <img src="./assets/image/profile.png" alt="profile" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

