<div class="box-trends">
    <div class="title">
        <span>Trend for you</span>
        <i class="fa fa-cog icon"></i>
    </div>
    <div class="content">
        <ul class="list-trends">
            <li>
                <span>#ecommerce</span>
                <i class="fa fa-angle-down icon"></i>
            </li>
            <li>
                <span>#ecommerce</span>
                <i class="fa fa-angle-down icon"></i>
            </li>
            <li>
                <span>#ecommerce</span>
                <i class="fa fa-angle-down icon"></i>
            </li>
            <li>
                <span>#ecommerce</span>
                <i class="fa fa-angle-down icon"></i>
            </li>
            <li>
                <span>#ecommerce</span>
                <i class="fa fa-angle-down icon"></i>
            </li>
            <li>
                <a class="see-more" href="#">SEE MORE</a>
            </li>
        </ul>
    </div>
</div>