
/* ////////////////style suggestion follow////////////////// */
.box-suggestion-follow{
    background-color: #fff;
    border-radius: 10px;
    border-bottom: 1px solid #d2d2d2;
}
.box-suggestion-follow .title{
    padding: 20px;
}
.box-suggestion-follow .title .icon{
    float: right;
    color: #d2d2d2;
    font-size: 16px;
}
.box-suggestion-follow .content .list-suggestion-follow li{
    padding: 20px;
}
.box-suggestion-follow .content .list-suggestion-follow .thumnail-follow{
    display: flex;
    justify-content: space-between;
}
.box-suggestion-follow .content .list-suggestion-follow .thumnail-follow .user-name h4{
    font-size: 15px;
}
.box-suggestion-follow .content .list-suggestion-follow .thumnail-follow .user-id{
    color: #aaa;
    font-size: 13px;
}
.box-suggestion-follow .content .list-suggestion-follow .thumnail-follow .btn-follow button{
    background-color: #f1f8fe;
    color: #52a2f3;
    border: 0;
    border-radius: 30px;
    padding: 10px 15px;
    font-weight: 600;
}
.box-suggestion-follow .content .list-suggestion-follow .see-more{
    display: block;
    text-align: center;
    color: #adadad;
}