<div class="box-suggestion-follow">
    <div class="title">
        <span>You should follow</span>
        <i class="fa fa-undo icon"></i>
    </div>
    <div class="content">
        <ul class="list-suggestion-follow">
            <li>
                <div class="thumnail-follow">
                    <div class="profile-image">
                        <img src="./../assets/image/profile.png" alt="">
                    </div>
                    <div class="user-name">
                        <h4>
                            Kate Lingard
                        </h4>
                        <a class="user-id" href="#">
                            @kati14
                        </a>
                    </div>
                    <div class="btn-follow">
                        <button type="button">Follow</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="thumnail-follow">
                    <div class="profile-image">
                        <img src="./../assets/image/profile.png" alt="">
                    </div>
                    <div class="user-name">
                        <h4>
                            Sharapova
                        </h4>
                        <a class="user-id" href="#">
                            @Sharapovac
                        </a>
                    </div>
                    <div class="btn-follow">
                        <button type="button">Follow</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="thumnail-follow">
                    <div class="profile-image">
                        <img src="./../assets/image/profile.png" alt="">
                    </div>
                    <div class="user-name">
                        <h4>
                            Crazy Snowman
                        </h4>
                        <a class="user-id" href="#">
                            @snow_man
                        </a>
                    </div>
                    <div class="btn-follow">
                        <button type="button">Follow</button>
                    </div>
                </div>
            </li>
            <li>
                <a class="see-more" href="#">SEE ALL</a>
            </li>
        </ul>
    </div>
</div>          
