<div class="item-content">
    <div class="box-profile">
        <a class="my-1" href="#">
            <img src="./../assets/image/profile.png" alt="profile" />
        </a>
        <span class="my-1">John Ramesy</span>
        <a class="user-id my-1" href="#">
            @john_res
        </a>
    </div>
    <div class="divider-30"></div>
    <div class="card-operation-user">
        <div class="item-operation active">
            <a href="#">
                <i class="fa fa-eye icon"></i>
                <span>Activity</span>
            </a>
        </div>
        
        <div class="item-operation">
            <a href="#">
                <i class="fa fa-bolt icon"></i>
                <span>Moments</span>
            </a>
        </div>
        <div class="item-operation">
            <a href="#">
                <i class="fa fa-users icon"></i>
                <span>Friends</span>
            </a>
        </div>
        <div class="item-operation">
            <a href="#">
                <i class="fa fa-cog icon"></i>
                <span>Edit profile</span>
            </a>
        </div>
    </div>
</div>
